# Node
node_modules/
npm-debug.log
yarn.lock

# TypeScript
dist/
build/
*.tsbuildinfo

# Flutter / Dart
build/
.dart_tool/
.packages

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
coverage/

# npm cache
.npm/

# Secrets
.env
**/.env
env

# Hardhat
smart-contracts/artifacts/
smart-contracts/cache/
smart-contracts/typechain-types/


