
name: Jert Network CI

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  smart-contracts:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: smart-contracts

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x     # Удалили cache: npm ← ЭТО ВАЖНО

      - name: Install dependencies
        run: npm install         # меняем на npm install чтобы не использовать lockfile

      - name: Compile contracts
        run: npm run compile

      - name: Run tests
        run: npm test
