
name: Jert Network CI

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  smart-contracts:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: smart-contracts

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cach: npm
      - run: npm run complite
      - name: Install dependencies
        run: npm ci
      - name: Compile smart-contracts
        run: npx hardhat complite

      - name: Run tests
        run: npm test
      - name: Type check
        run: npm run type- check -- if present
